/********************************************/
/****************HEADER**********************/
/********************************************/
.main-nav {
    display: flex;
    align-items: center;
    gap: 6.2rem;
    padding: 1.2rem;
    justify-self: center;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: none;
    padding: 0.5rem;
    cursor: pointer;
}

.nav-icon {
    font-size: 3rem;
    color: var(--primary-color);
}

.profile-button {
    padding: 0.4rem 1.4rem;
    margin-right: 4.2rem;
    font-size: 1.8rem;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: var(--font-color-light);
    transition: 0.3s;
}

.profile-button:hover {
    background-color: var(--primary-color-darker);
}

/********************************************/
/**************MODAL DELETE PROMPT***********/
/********************************************/
.delete-prompt {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}

.delete-prompt h2 {
    font-size: 1.4rem;
}

.delete-buttons {
    display: flex;
    gap: 1.8rem;
}

.delete-buttons button {
    border: none;
    width: 7rem;
    background: var(--primary-color);
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.8rem 1.2rem;
    cursor: pointer;
    color: var(--font-color-light);
}

.delete-buttons button:hover {
    background-color: var(--primary-color-darker);
}

.modal .add-icon {
    font-size: 1.8rem;
    --ionicon-stroke-width: 5.2rem;
}

/********************************************/
/*****************First Section**************/
/********************************************/
.section-first {
    width: 22%;
    padding-left: 0.8rem;
    display: flex;
    /* z-index: 5; */
}

/* INBOX CONTAINER */
.inbox {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    flex-grow: 1;
}

.friend-photo-inbox {
    width: 25%;
}

.name-message {
    display: flex;
    flex-grow: 1;
    width: 75% !important;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    gap: 0.8rem;
}
.inbox-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.inbox-last-message {
    width: 90%;
    /* flex-grow: 1; */
    text-align: start;
    font-size: 1.4rem;
    overflow: hidden;
}

.last-msg-container {
    display: flex;
    width: 90%;
    color: var(--grey);
}

/* FRIENDS CONTAINER */
.friends {
    width: 90%;
    /* height: 100vh; */
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    flex-grow: 1;
}

/* SEARCH FRIENDS CONTAINER */
.search {
    margin-bottom: 4.8rem;
}

.search-field {
    width: 95%;
    padding: 1rem 1rem;
    border: none;
    color: var(--font-color);
    /* border: 1px solid #ddd; */
    border-radius: 5px;
}

.search-field:focus {
    outline: none;
}
.search-field::placeholder {
    color: var(--grey);
}

/* .search-result h2 {
    width: 90%;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #ddd;
    letter-spacing: -0.2px;
    margin-bottom: 1.2rem;
} */

/* ADD FRIEND CONTAINER */
.add-friend {
    width: 90%;
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    flex-grow: 1;
}

.search-result {
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    flex-grow: 1;
}

.search-unit {
    width: 90%;
    font-size: 1.8rem;
}

/* REQUESTS CONTAINER */
.requests {
    width: 90%;
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    flex-grow: 1;
}

/********************************************/
/*****************Message Section**************/
/********************************************/
.section-message {
    width: 78%;
    display: none;
    flex-direction: column;
    flex-grow: 1;
}

.receiver {
    justify-content: space-between;
    align-items: center;
    align-self: center;
    width: 99%;
    padding: 1.2rem 2.4rem;
    margin-top: 0.8rem;
    z-index: 5;
}

.inbox-user {
    display: flex;
    align-items: center;
    gap: 1.8rem;
}

.inbox-photo {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.usernamediv-icons {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 1.2rem;
}

.inbox-button {
    border: none;
    background: none;
    color: var(--font-color);
    cursor: pointer;
}

.chat-delete-icon {
    font-size: 2.8rem;
}
.user-profile-icon {
    font-size: 2.8rem;
}

.chat-messages {
    /* position: relative; */
    flex-grow: 1;
    overflow-y: scroll;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.4rem;
    padding: 1.8rem;
}

.message-div {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.chat-text {
    padding: 0.8rem 2.4rem;
}

.message-photo {
    background: var(--primary-color);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.message-right {
    border-radius: 20px;
    align-self: flex-end;
    background: #fff;
    color: var(--font-color);
}
.message-left {
    align-self: flex-start;
}

.message-left .chat-text {
    border-radius: 20px;
    background: var(--primary-color);
    color: var(--font-color-light);
}

.message-box {
    position: relative;
}

.down-arrow-button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    background: none;
    border: none;
    cursor: pointer;
}

.down-icon {
    font-size: 4.2rem;
    color: var(--grey);
}

.message-form {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.message-field {
    /* flex-grow: 1; */
    width: 99%;

    padding: 1.5rem;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    background: #fff;
    border-radius: 10px;
}

.message-field:focus {
    outline: none;
}

/********************************************/
/*****************Scrollbar**************/
/********************************************/
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: var(--font-color-light);
    /* box-shadow: inset 10px 10px 20px var(--neo-shadow-color), inset -10px -10px 20px #fff; */
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--grey-light);
}
