* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #0077b6;
    color: #dff0d8;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neo-shadow-up {
    border-radius: 50px;
    background: #0077b6;
    box-shadow: 6px 6px 12px #00659b, -6px -6px 12px #0089d1;
}

.neo-shadow-down {
    border-radius: 50px;
    background: #0077b6;
    box-shadow: inset 6px 6px 12px #00659b, inset -6px -6px 12px #0089d1;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    letter-spacing: -3px;
}

.shadow {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.2), 0px 0px 4px rgba(0, 0, 0, 0.15),
        0px 0px 8px rgba(0, 0, 0, 0.1), 0px 0px 16px rgba(0, 0, 0, 0.05);
}

.button {
    text-decoration: none;
    font-size: 1.4rem;
    color: #dff0d8;
    padding: 0.3rem 0;
    background-color: #0077b6;
    border-radius: 4px;
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}

.button:link,
.button:visited {
    font-size: 1.6rem;
    padding: 0.5em 2.5em;
}

.button:hover {
    background-color: #006ba4;
}
.button:active {
    box-shadow: none;
}

.error-message {
    color: red;
    font-size: 1.4rem;
    text-align: center;
}

/* index.html css */

.index-layout {
    display: flex;
    flex-direction: column;
    flex-basis: 35rem;
    height: 35rem;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

.index-section-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 3.2rem;
}

.index-section-one .heading-secondary {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2px;
}

/* login and signup forms */

.auth-layout {
    /* border: 1px solid #ccc; */
    flex-basis: 35rem;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: space-between;
}

.auth-section-one {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.auth-header .heading-primary {
    font-size: 3rem;
    text-align: center;
}
.auth-section-one .heading-secondary {
    font-size: 2rem;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.auth-form div {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.input-label {
    font-size: 1.6rem;
}

.input-field {
    /* border: 1px solid #ccc; */
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    color: #dff0d8;
}

.input-field::placeholder {
    color: #b2c0ad;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s;
    -webkit-text-fill-color: #dff0d8 !important;
}

.input-submit {
    padding: 0.7rem 0;
}

.auth-prompt {
    border-top: 1px solid #dff0d8;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.6rem;
}

.auth-prompt .button {
    display: inline-block;
    font-size: 1.4rem;
    padding: 0.4em 2em;
}

.hidden {
    display: none;
}

.error-prompt {
    height: 2rem;
}
